.blue-bar{
    height: 60px;
    background-color: #0282f9;
}

.helpme {
    max-width: 1300px;
    margin: auto;
    padding: 50px 0;
}

.comic img {
    width: 190px;
    height: 220px;
    position: absolute;
    left: 300px ;
    top: 415px;
}

.comic h1{
    padding-top: 50px;
}

.adv {
    padding-left: 40px;
    padding-top: 50px;
}

.adv img{
    width: 400px;
}

.adv h6{
    text-align: right;
}

.ms-info{
    background-color: #f6f6f6;
    border: 1px solid lightgrey;
    padding-bottom: 100px;
}

.talent h4, .specs h4{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}

.talent p, .specs p{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}


.artist-list span {
    color: #0282f9;
}
